root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_size = 4
indent_style = space

[*.cs]
dotnet_diagnostic.IDE0055.severity = warning
dotnet_diagnostic.IDE0005.severity = warning